<!--&lt;!&ndash;<div class="appContainer">&ndash;&gt;-->
<!--&lt;!&ndash;  <div class="coloring">&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="header">&ndash;&gt;-->
<!--&lt;!&ndash;      <div class="imgDiv">&ndash;&gt;-->
<!--&lt;!&ndash;        <img src="/assets/images/CWLogo.png" class="logo" alt="logo">&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="navBar">&ndash;&gt;-->
<!--&lt;!&ndash;      <app-nav-bar></app-nav-bar>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--&lt;!&ndash;  <div class="footer">&ndash;&gt;-->

<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--<mat-toolbar color="primary">-->
<!--&lt;!&ndash;  <mat-toolbar-row>&ndash;&gt;-->
<!--&lt;!&ndash;    <span>Custom Toolbar</span>&ndash;&gt;-->
<!--&lt;!&ndash;  </mat-toolbar-row>&ndash;&gt;-->

<!--  <mat-toolbar-row>-->
<!--    <span><img src="/assets/images/CWLogo.png" class="logo" alt="logo"></span>-->
<!--    <span class="example-spacer"></span>-->
<!--&lt;!&ndash;    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>&ndash;&gt;-->
<!--    <mat-icon></mat-icon>-->
<!--  </mat-toolbar-row>-->

<!--&lt;!&ndash;  <mat-toolbar-row>&ndash;&gt;-->
<!--&lt;!&ndash;    <span>Third Line</span>&ndash;&gt;-->
<!--&lt;!&ndash;    <span class="example-spacer"></span>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;  </mat-toolbar-row>&ndash;&gt;-->
<!--</mat-toolbar>-->
<!--<app-nav-bar></app-nav-bar>-->

