/*.magnifyingGlass {*/
/*  position: relative;*/
/*  text-align: left;*/
/*  width: 20px;*/
/*  !*padding: 0;*!*/
/*  !*margin: 0;*!*/
/*  !*overflow-x: hidden;*!*/
/*  !*padding: auto 100px;*!*/
/*  !*top: 100px;*!*/
/*  !*left: 150px;*!*/
/*  !*height: 1px;*!*/
/*  !*width: 1px;*!*/
/*}*/

/*.magnifyingGlassImage {*/
/*  !*margin: 500px;*!*/
/*  !*border-left: 50px;*!*/
/*  height: 60%;*/
/*  width: 60%;*/
/*}*/
/*.appSearch {*/
/*}*/

/*.inputClass {*/
/*  text-align: center;*/
/*  width: auto;*/
/*  height: auto;*/
/*}*/


.search {

}

.inputClass {
  text-align: left;
  width: auto;
  /*height: 10%;*/
  margin-top: 1%;
  margin-left: 45%;
  /*margin-right: 40%;*/
}

.magnifyingGlass {
    position: relative;
    text-align: left;
    width: 20px;
    /*padding: 0;*/
    /*margin: 0;*/
    /*overflow-x: hidden;*/
    /*padding: auto 100px;*/
    /*top: 100px;*/
    /*left: 150px;*/
    /*height: 1px;*/
    /*width: 1px;*/
}

.magnifyingGlassImage {
    /*margin: 500px;*/
    /*border-left: 50px;*/
    height: 60%;
    width: 60%;
}

.searchResultContainer {
  background-color: red;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1%;
}

.resultNow {
  text-align: center;
  /*width: 25%;*/
  /*margin-left: 40%;*/
}

.resultNowButton {
  text-align: center;
  height: 50px;
  width: 200px;
}

.result7DaysLater {
  /*text-align: ;*/
  position: relative;
  top: 20%;
  left: 65%;
}
