/*.magnifyingGlass {*/
/*  position: relative;*/
/*  text-align: left;*/
/*  width: 20px;*/
/*  !*padding: 0;*!*/
/*  !*margin: 0;*!*/
/*  !*overflow-x: hidden;*!*/
/*  !*padding: auto 100px;*!*/
/*  !*top: 100px;*!*/
/*  !*left: 150px;*!*/
/*  !*height: 1px;*!*/
/*  !*width: 1px;*!*/
/*}*/

/*.magnifyingGlassImage {*/
/*  !*margin: 500px;*!*/
/*  !*border-left: 50px;*!*/
/*  height: 60%;*/
/*  width: 60%;*/
/*}*/
/*.appSearch {*/
/*}*/

/*.inputClass {*/
/*  text-align: center;*/
/*  width: auto;*/
/*  height: auto;*/
/*}*/


.search {
  margin-right: 30%;
}

.inputClass {
  text-align: left;
  width: auto;
  /*height: 10%;*/
  margin-top: 1%;
  margin-left: 45%;
  /*margin-right: 40%;*/
}

.magnifyingGlass {
    position: relative;
    text-align: left;
    width: 20px;
    /*padding: 0;*/
    /*margin: 0;*/
    /*overflow-x: hidden;*/
    /*padding: auto 100px;*/
    /*top: 100px;*/
    /*left: 150px;*/
    /*height: 1px;*/
    /*width: 1px;*/
}

.magnifyingGlassImage {
    /*margin: 500px;*/
    /*border-left: 50px;*/
    height: 60%;
    width: 60%;
}

.searchResultContainer {
  background-color: red;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1%;
  height: 750px;
}

.resultNow {
  display: inline-block;
  /*width: 50%;*/
  margin-left: 20%;
  /*display: inline-block;*/
  /*text-align: right;*/
  /*margin: 0;*/
  /*margin-left: 40%;*/
  /*margin-right: 40%;*/
  /*margin: 0;*/
  /*width: 25%;*/
  /*min-width: 25%;*/
  /*max-width: 25%;*/
  /*width: 25%;*/
  /*margin-left: 40%;*/
}

.resultNowButton {
  /*display: inline-block;*/
  text-align: center;
  height: 50px;
  width: 200px;
}

.result7DaysLater {
  display: inline-block;
  margin-left: 20%;
  /*text-align: ;*/
  /*position: relative;*/
  /*top: 20%;*/
  /*left: 65%;*/
  /*position: relative;*/
  /*left: 75%;*/
  /*!*top*!*/
  /*top: 100%*/
}

.result7DaysLatterButton {
  text-align: center;
  height: 50px;
  width: 200px;
  /*height: 50px;*/
  /*width: 200px;*/
}


/*.resultButtonContainer {*/
/*  width: auto;*/
/*}*/

/*.resultButtonContainer {*/
/*  width: 50%;*/
/*}*/

.resultCityName {
  display: inline-block;
  margin-left: 10%;
}

.weatherTypeImage {
  text-align: right;
}
