
<div class="aboutUsContainer">
  <div>
  <h1>About CoronaWeather</h1>
  </div>
  <div>
    <p>Our goal at CoronaWeather is to provide people with easy to use way of getting the most relevant information about the weather and the corona virus situation in our world</p>
    <p>Using our app provides you the following opportunities:</p>

    <p>Find information about weather at the moment by searching the desired city.</p>

    <p>Give some suggestion for user about clothes and things to take with you, when you are going outside based on weather conditions of the searched city.</p>

    <p>Deliver information about situation with corona virus (total cases, deaths, new daily cases and etc.) in country, city of which you searched for.</p>

    <p>Also You can get information about weather for 7 upcoming days at the place, what you searched in first point.</p>

    <p>For users, who live in small or unknown cities, with what OpenWeatherMap(API) is not familiar, search weather and information about corona virus based on coordinates.<br>
      For that you need to log in and fill the simple form(City(or custom name for this area), country, latitude, longitude).<br>
      After that you can find up-to-date weather and corona virus information about that spot on daily basis by simply searching by city or spot name in the app.</p>

    <p>Logged in users will be automatically provided with information about weather and corona virus situation in their hometown.</p>

    <p>Find out about interesting places by looking through the most searched cities in the app.</p>

    <p>Also app has admin feature, which will provide opportunity to delete existing info from database(weather forecast).</p>

    <p>Our app has user friendly design with minimum buttons and only necessary information.</p>

    <p>App created by Vassili Gorbatsov and Dmitri Voronoi </p>
  </div>
</div>
