/*.name {*/
/*  height: 100px;*/
/*  width: 100px;*/

/*}*/
.aboutUsContainer {
  background-color: lightblue;
  border-style: solid;
}

p {
  font-size: 20px;
  margin-bottom: 25px;
  margin-top: 25px;
}
