.search {
  margin-right: 30%;
  margin-bottom: 1%;
}

.inputClass {
  text-align: left;
  width: auto;
  margin-top: 1%;
  margin-left: 45%;
}

.magnifyingGlass {
  position: relative;
  text-align: left;
  width: 20px;

}

.form-control {
  display: inline-block;
  height: 3%;
  width: 50%;
}

.magnifyingGlassImage {
  height: 75%;
  width: 75%;
}

.btn {
  width: 5%;
  height: 39px;
  margin: 0;
  padding: 0;
}

.backgroundColor {
  background-color: lightblue;
}

.container {
  height: 200%;
  width: 200%;
}

.marginPadding {
  margin: 1%;
}


/*.searchResultContainer {*/
/*  float: left;*/
/*  display: inline-block;*/
/*  background-color: lightgoldenrodyellow;*/
/*  margin-top: 1%;*/
/*  height: auto;*/
/*  width: 80%;*/
/*  border-style: solid;*/
/*}*/

.stylizing {
  background-color: lightblue;
  border-style: solid;
}

.resultNow {
  display: inline-block;
  margin-left: 20%;
}

.resultNowButton {
  text-align: center;
  height: 50px;
  width: 200px;
}

.result7DaysLater {
  display: inline-block;
  margin-left: 20%;
}

.result7DaysLatterButton {
  text-align: center;
  height: 50px;
  width: 200px;
}

.resultCityName {
  display: inline-block;
  margin-left: 10%;
}

.weatherTypeImage {
  text-align: right;
  float: right;

}

.weatherInfoContainer {
  text-align: left;
}


.Day0 {

  width: 18%;
  display: inline-block;
  border-style: solid;
  text-align: center;
  margin: 0.25%;
  min-width: 100px;


}

.nextDay1 {

  width: 18%;
  display: inline-block;
  border-style: solid;
  text-align: center;
  margin: 0.25%;
  min-width: 100px;



}
.nextDay2 {

  width: 18%;

  display: inline-block;
  border-style: solid;
  text-align: center;
  margin: 0.25%;
  min-width: 100px;



}
.nextDay3 {

  width: 18%;

  display: inline-block;
  border-style: solid;
  text-align: center;
  margin: 0.25%;
  min-width: 100px;



}
.nextDay4 {
  width: 18%;

  display: inline-block;
  border-style: solid;
  text-align: center;
  margin: 0.25%;
  min-width: 100px;



}
.nextDay5 {

  width: 18%;

  display: inline-block;
  border-style: solid;
  text-align: center;
  margin: 0.25%;
  min-width: 100px;



}
.nextDay6 {
  /*margin-left: 14%;*/
  width: 18%;

  display: inline-block;
  border-style: solid;
  text-align: center;
  margin: 0.25%;
  min-width: 100px;



}
.nextDay7 {

  width: 18%;

  display: inline-block;
  border-style: solid;
  text-align: center;
  margin: 0.25%;
  min-width: 100px;



}

.mostSearchedContainer {
  background-color: lightgoldenrodyellow;
  border-style: solid;
  width: 19%;
  height: auto;

  display: inline-block;
  float: right;
}

.topFiveStylizing {
  background-color: lightblue;
  border-style: solid;
  width: 19%;
  display: inline-block;
  float: right;
  min-width: 50px;
  text-align: center;
  overflow: hidden;
}

.mostSearched {
  position: center;
  width: auto;
  height: auto;
}

.weatherImage {
  height: 60%;
  width: 50%;
}

.imageContainer {
  float: right;
  margin-right: 2%;

}

.weatherText {
  text-align: center;
  margin-left: 50%;
}
