<div class="post">
  <p>If our application is missing a city, or any info regarding a specific location, then you can add it manually by filling the necessary info about the place</p>
</div>

<div>
  <button (click)="onClick()">Please fill the form!</button>
</div>
<div *ngIf="showForm">
<!--  <input> City-->
<!--  <input> Country-->
<!--  <input> Humidity-->
<!--  <input> ID(default it to null)-->
<!--  <input> Lat-->
<!--  <input> Lon-->
<!--  <input> Number of searches(default value it)-->
<!--  <input> Pressure-->
<!--  <input> Suggestion(default it)-->
<!--  <input> Temperature-->
<!--  <input> Up to date(Default it)-->
<!--  <input> Weather-->
<!--  <input> Wind-->
  <div>
  <input type="text" placeholder="City...">
  </div>
  <div>
    <input type="text" placeholder="Country">
  </div>
  <div>
    <input type="text" placeholder="Humidity">
  </div>
  <div>
    <input type="text" placeholder="ID(setToNULL)">
  </div>
  <div>
    <input type="text" placeholder="Lat">
  </div>
  <div>
    <input type="text" placeholder="Lon">
  </div>
  <div>
    <input type="text" placeholder="Number if searches(DEFAULT IT)">
  </div>
  <div>
    <input type="text" placeholder="Pressure">
  </div>
  <div>
    <input type="text" placeholder="Suggestion(DEFAULT IT)">
  </div>
  <div>
    <input type="text" placeholder="Temperature">
  </div>
  <div>
    <input type="text" placeholder="Up to date(DEFAULT IT)">
  </div>
  <div>
    <input type="text" placeholder="Weather">
  </div>
  <div>
    <input type="text" placeholder="Wind">
  </div>
  <button>Finish</button>
</div>
