<div class="post">
  <p>If our application is missing a city, or any info regarding a specific location, then you can add it manually by filling the necessary info about the place</p>
</div>

<div>
  <button (click)="onClick()">Please fill the form!</button>
</div>
<div *ngIf="showForm">
<!--  <input> City-->
<!--  <input> Country-->
<!--  <input> Humidity-->
<!--  <input> ID(default it to null)-->
<!--  <input> Lat-->
<!--  <input> Lon-->
<!--  <input> Number of searches(default value it)-->
<!--  <input> Pressure-->
<!--  <input> Suggestion(default it)-->
<!--  <input> Temperature-->
<!--  <input> Up to date(Default it)-->
<!--  <input> Weather-->
<!--  <input> Wind-->
  <div>
  <input #myInput1 type="text" placeholder="City...">
  </div>
  <div>
    <input #myInput2 type="text" placeholder="Country">
  </div>
  <div>
    <input #myInput3 type="text" placeholder="Humidity">
  </div>
<!--  <div>-->
<!--    <input #myInput type="text" placeholder="ID(setToNULL)">-->
<!--  </div>-->
  <div>
    <input #myInput4 type="text" placeholder="Lat">
  </div>
  <div>
    <input #myInput5 type="text" placeholder="Lon">
  </div>
<!--  <div>-->
<!--    <input #myInput type="text" placeholder="Number if searches(DEFAULT IT)">-->
<!--  </div>-->
  <div>
    <input #myInput6 type="text" placeholder="Pressure">
  </div>
<!--  <div>-->
<!--    <input #myInput type="text" placeholder="Suggestion(DEFAULT IT)">-->
<!--  </div>-->
  <div>
    <input #myInput7 type="text" placeholder="Temperature">
  </div>
<!--  <div>-->
<!--    <input #myInput type="text" placeholder="Up to date(DEFAULT IT)">-->
<!--  </div>-->
  <div>
    <input #myInput8 type="text" placeholder="Weather">
  </div>
  <div>
    <input #myInput9 type="text" placeholder="Wind">
  </div>
  <button (click)="onFinish(myInput1.value, myInput2.value, myInput3.value, myInput4.value, myInput5.value
  , myInput6.value, myInput7.value, myInput8.value, myInput9.value)">Finish</button>
</div>
