
li {
  display: inline;
}
a {
  margin: 10px;
  font-size: 40px;
  text-decoration: none;

}

.routerOutlet {
  text-align: center;
  margin: 2%;
  padding: 0;
}

.logo {
  display: inline-block;
  width: 15%;
  height: 15%;
  float: left;
}

.navBarLink {
  float: right;
  /*margin: 20px;*/

}

.spanBorder {
  border-style: solid;
}

.nav-item {
  margin: 10px;
}
