<ul >
  <li><a routerLink="home">Home</a></li>
  <li><a routerLink="about">About us</a></li>
  <li><a routerLink="contact">Contact</a></li>
  <li *ngIf="token() === null || token() === 'null'" ><a routerLink="log_in">Log In</a></li>
  <li *ngIf="token() === null || token() === 'null'"  ><a routerLink="register">Register</a></li>
  <li (click)="logOut()" *ngIf="token() != null"  ><a routerLink="">Logout</a></li>
  <li *ngIf="token() != null"><a routerLink="profile">Profile</a></li>
</ul>


<div class="routerOutlet">
<router-outlet></router-outlet>
</div>
