<!--<div class="userContainer">-->
<!--  <div class="post">-->
<!--    <p>If our application is missing a city, or any info regarding a specific location, then you can add it manually by filling the necessary info about the place</p>-->
<!--  </div>-->

<!--  <div>-->
<!--    <button (click)="onClick()">Please fill the form!</button>-->
<!--  </div>-->
<!--  <div *ngIf="showForm">-->
<!--    <div>-->
<!--      <input #myInput1 type="text" placeholder="City">-->
<!--    </div>-->
<!--    <div>-->
<!--      <input #myInput2 type="text" placeholder="Country">-->
<!--    </div>-->
<!--    <div>-->
<!--      <input #myInput4 type="text" placeholder="Lat">-->
<!--    </div>-->
<!--    <div>-->
<!--      <input #myInput5 type="text" placeholder="Lon">-->
<!--    </div>-->
<!--    <button (click)="onFinish(myInput1.value, myInput2.value, myInput4.value, myInput5.value)">Finish</button>-->
<!--  </div>-->


<!--  <div *ngIf="log">-->
<!--    <button class="logOutButton" (click)="logOut()">Log out</button>-->
<!--  </div>-->
<!--</div>-->

