<div class="contactContainer">
  <div>
    <!--Some flavor text -->
    <p class="contactInfo">Feel free to give us feedback or ask for partnership deals through the contacts below</p>
  </div>

  <div>
    <!--EMAIL-->
    <div>
      <img src="/assets/images/@sign.png" alt="@sign" class="atSign">
    </div>
    <p class="contactInfoAt">coronaWeather@statistics.com</p>
  </div>


  <div>
    <!--Phone number-->
    <div>
      <img src="/assets/images/contactPhone.png" alt="@sign" class="contactPhone">
    </div>
    <p class="contactInfoPhone">+000 123456789</p>
  </div>


  <div>
    <!--ADDRESS-->
    <div>
      <img src="/assets/images/addressLocation.png" alt="@sign" class="addressLocation">
    </div>
    <p class="contactInfoAddress">Ehitajate tee 5, 12616 Tallinn</p>
  </div>
</div>
