
<div>
  <ul *ngIf="show">
<!--    <li><a routerLink="home">Home</a></li>-->
<!--    <li><a routerLink="about">About us</a></li>-->
<!--    <li><a routerLink="contact">Contact</a></li>-->
<!--    <li><a routerLink="log in">Log In</a></li>-->
    <li><a (click)="onClick()" routerLink="user">Log in as a User</a></li>
    <li><a (click)="onClick()" routerLink="admin">Log in as a Admin</a></li>
    <!--  <li><a routerLink="app">Home</a></li>-->
    <!--  <li><a routerLink="about">About</a></li>-->
    <!--  <li><a routerLink="contact">Contact</a></li>-->
    <!--  <li><a routerLink="contact">Contact</a></li>-->
  </ul>
</div>

<div *ngIf="log">
  <button class="logOutButton" (click)="logOut()">Log out</button>
</div>
<div class="routerOutlet">
  <router-outlet></router-outlet>
</div>
