.userInfoContainer {
  display: inline-block;
  border-style: solid;
  margin-top: 10px;
}



.backgroundColor {
  background-color: lightblue;
}


.deleteContainer {
  border-style: solid;
  margin-top: 10px;
}

.label {
  margin-top: 10px;
  /*margin-bottom: 10px;*/
}

.button {
  margin-top: 10px;
  margin-bottom: 10px;
}

.inputField {
  margin-top: 10px;
  margin-bottom: 10px;
}

.inputFieldWidth {
  margin-left: 5px;
  margin-right: 5px;
}
