.userInfoContainer {
  display: inline-block;
  border-style: solid;
}


li {
  display: inline;
}

a {
  margin: 20%;
}


.logOutButton {

}

.logInContainer {
  background-color: lightgoldenrodyellow;
}
