
<div *ngIf="!showForm">
<div class="userInfoContainer">
  <div>

    <p>Username : {{userName}}</p>
    <p>Hometown : {{hometown}}</p>

  </div>
</div>

<p></p>


<button (click)="onClick2()" >Update profile info</button>
</div>

<div *ngIf="showForm">
  <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">




    <div>
      <label for="oldusername">
        Old Username
      </label>
      <input id="oldusername" type="text" placeholder="New name" formControlName="oldusername">
    </div>

    <div>
      <label for="username">
        Username
      </label>
      <input id="username" type="text" placeholder="{{userName}}" formControlName="username">
    </div>
    <div>
      <label for="hometown">
        Hometown
      </label>
      <input id="hometown" type="text" placeholder="{{hometown}}" formControlName="hometown">
    </div>
    <button>Update</button>
<!--  </div>-->
  </form>
</div>






<div *ngIf="role == user">

  <div class="userContainer">
    <div class="post">
      <p>If our application is missing a city, or any info regarding a specific location, then you can add it manually by filling the necessary info about the place</p>
    </div>

    <div>
      <button (click)="onClickUser()">Please fill the form!</button>
    </div>
    <div *ngIf="show">
      <div>
        <input #myInput1 type="text" placeholder="City">
      </div>
      <div>
        <input #myInput2 type="text" placeholder="Country">
      </div>
      <div>
        <input #myInput4 type="text" placeholder="Lat">
      </div>
      <div>
        <input #myInput5 type="text" placeholder="Lon">
      </div>
      <button (click)="onFinish(myInput1.value, myInput2.value, myInput4.value, myInput5.value)">Finish</button>
    </div>


    <div *ngIf="log">
      <button class="logOutButton" (click)="logOutUser()">Log out</button>
    </div>
  </div>



</div>

<div *ngIf="role == admin">
  <div class = adminContainer>
    <div class="adminPostContainer">
      <div class="post">
        <p>Add missing cities to the database</p>
      </div>
      <div>
        <button (click)="onClickUser()">Adding form</button>
      </div>
      <div *ngIf="show">
        <div>
          <input #myInput1 type="text" placeholder="City">
        </div>
        <div>
          <input #myInput2 type="text" placeholder="Country">
        </div>
        <div>
          <input #myInput4 type="text" placeholder="Lat">
        </div>
        <div>
          <input #myInput5 type="text" placeholder="Lon">
        </div>
        <button (click)="onFinish(myInput1.value, myInput2.value,  myInput4.value, myInput5.value)">Finish</button>
      </div>
    </div>

    <div class="adminDeleteContainer">


      <div class="delete">
        <p>Delete inappropriately added cities</p>
      </div>

      <div>
        <button (click)="delete()"> Delete </button>
      </div>
      <div *ngIf="showDelete">
        <div>
          <input #deleteId type="number" placeholder="ID">
        </div>
        <div>
          <button (click)="onDelete(deleteId.value)">Confirm</button>
        </div>
      </div>



    </div>



    <div *ngIf="log">
      <button class="logOutButton" (click)="logOutUser()">Log out</button>
    </div>
  </div>

</div>


