
<div class="text-center container formColor">
<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">


<div>
  <label for="username">
    Username
  </label>
  <br>
  <input id="username" type="text" formControlName="username">
</div>


<div>
  <label for="password">
    Password
  </label>
  <br>
  <input id="password" type="text" formControlName="password">
</div>

<div>
  <label for="hometown">
    Hometown
  </label>
  <br>
  <input id="hometown" type="text" formControlName="hometown">
</div>

<button class="button" type="submit">Register</button>
</form>
</div>
